# profile mode (http, cpu, mem, mutex, or block)
# profile_mode = ''
# profile output file path (e.g. cpu.pprof)
# profile_file = ''
# path to the genesis state file, relative to the root directory
genesis_state = '/app/home_dir/snapshot.sql.gz'
# skip runtime dependency verification (the pg_dump and psql binaries)
skip_dependency_verification = false
# path to the pg_dump binary for taking snapshots
pg_dump_path = 'pg_dump'

# logging configuration
[log]
# log level
# possible values: 'debug', 'info', 'warn', and 'error'
level = 'info'
# log format
# possible values: 'json', 'text' (kv), and 'plain' (fmt-style)
format = 'plain'
# output paths for the log
output = ['stdout', 'kwild.log']
# threshold in KB at which the log file rolls over and archives the current one
file_roll_size = 10000
# retention limit on the number of archived log files to keep (0 meaning retain all)
retain_max_rolls = 100

# telemetry (metrics and traces) configuration
[telemetry]
# enable telemetry
enable = false
# open telemetry protocol collector endpoint
otlp_endpoint = '127.0.0.1:4318'

# P2P related configuration
[p2p]
# address in host:port format to listen on for P2P connections
listen = '0.0.0.0:6600'
# enable peer exchange
pex = true
# bootnodes to connect to on startup
bootnodes = ['03a5b7344ecc206cb22eba8afa80e2002adb0c5222344463aeb96a815fba90052f#secp256k1@10.0.4.222:6600']
# operate in private mode using a node ID whitelist
private = false
# allowed node IDs when in private mode
whitelist = []
# target number of connections to maintain
target_connections = 20
# external address in host:port format to advertise to the network
external_address = '10.0.5.225:6600'

# Consensus related configuration
[consensus]
# minimum duration to wait before proposing a block with transactions (applies to leader). This value should be greater than 500ms.
propose_timeout = '1s'
# timeout for proposing an empty block. If set to 0, disables empty blocks, leader will wait indefinitely until transactions are available to produce a block.
empty_block_timeout = '1m0s'
# interval between block proposal reannouncements by the leader
block_proposal_interval = '1s'
# interval between block commit reannouncements by the leader, and votes reannouncements by validators
block_ann_interval = '3s'

# Mempool related configuration
[mempool]
# maximum size of the mempool in bytes
max_size = 209715200
MaxTxBytes = 10485760

# DB (PostgreSQL) related configuration
[db]
# postgres host name (IP or UNIX socket path)
host = 'postgres'
# postgres TCP port (leave empty for UNIX socket)
port = '5432'
# postgres role/user name
user = 'kwild'
# postgres password if required for the user and host
pass = ''
# postgres database name
dbname = 'kwild'
# timeout on read transactions from user RPC calls and queries
read_timeout = '45s'
# maximum number of DB connections to permit
max_connections = 60

# Block store configuration
[store]
# compress data when writing new data
compression = true

# User RPC service configuration
[rpc]
# address in host:port format on which the RPC server will listen
listen = '0.0.0.0:8484'
# duration to wait for a tx to be committed when transactions are authored with --sync flag
broadcast_tx_timeout = '15s'
# user request duration limit after which it is cancelled
timeout = '20s'
# largest permissible user request size
max_req_size = 15000000
# enable private mode that requires challenge authentication for each call
private = false
# use compression in RPC responses
compression = false
# lifetime of a server-generated challenge
challenge_expiry = '30s'
# maximum number of challenges per second that a user can request
challenge_rate_limit = 10.0
# services to disable on the RPC server e.g. 'chain'
disabled_services = []

# Admin RPC service configuration
[admin]
# enable the admin RPC service
enable = true
# address in host:port format or UNIX socket path on which the admin RPC server will listen
listen = '/sockets/kwild.socket'
# optional password for the admin service
pass = ''
# disable TLS when the listen address is not a loopback IP or UNIX socket
notls = false

# Snapshot creation and provider configuration
[snapshots]
# enable creating and providing snapshots for peers using statesync
enable = true
# snapshot creation period in blocks
recurring_height = 1440
# number of snapshots to keep, after the oldest is removed when creating a new one
max_snapshots = 3

# Statesync configuration (vs block sync)
[state_sync]
# enable using statesync rather than blocksync
enable = true
# trusted snapshot providers in node ID format (see bootnodes)
trusted_providers = ['03a5b7344ecc206cb22eba8afa80e2002adb0c5222344463aeb96a815fba90052f#secp256k1@10.0.4.222:6600']
# how long to discover snapshots before selecting one to use
discovery_time = '15s'
# how many times to try after failing to apply a snapshot before switching to blocksync
max_retries = 3
# path to the PSQL binary for applying snapshots
psql_path = 'psql'

# extension configuration
[extensions]

# zero downtime migration configuration
[migrations]
# enable zero downtime migrations
enable = false
# JSON-RPC listening address of the node to replicate the state from
migrate_from = ''

# checkpoint info for the leader to sync to before proposing a new block
[checkpoint]
# checkpoint height for the leader. If the leader is behind this height, it will sync to this height before attempting to propose a new block
height = 0
# checkpoint block hash
hash = ''

